@model Inventario.ServiceContracts.warehouseViewModel


<head>
<style>
    .modal-content {
        background-color: #FFF;
        opacity: .9;
    }
</style>





</head>



<body>

<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Add Device</h3>
            </div>
            <div class="modal-body">

              
                @using (Html.BeginForm("Add","warehouse",FormMethod.Post,new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        
                        @Html.LabelFor(model => model.Device_ID, htmlAttributes: new { @class = "control-label  pmtallocated pull-left",@style ="padding-left:50px" })


                        <div class="col-sm-8 pull-right" style="padding-right:50px">

                            @Html.EditorFor(model => model.Device_ID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Device_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Serial_No, htmlAttributes: new { @class = "control-label  pmtallocated pull-left", @style = "padding-left:50px" })
                        <div class="col-sm-8 pull-right" style="padding-right:50px">
                            @Html.EditorFor(model => model.Serial_No, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Serial_No, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Device_Name, htmlAttributes: new { @class = "control-label  pmtallocated pull-left", @style = "padding-left:50px" })
                        <div class="col-sm-8 pull-right" style="padding-right:50px">

                            @Html.EditorFor(model => model.Device_Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Device_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Device_Type, htmlAttributes: new { @class = "control-label  pmtallocated pull-left", @style = "padding-left:50px" })
                        <div class="col-sm-8 pull-right" style="padding-right:50px">
                            @Html.EditorFor(model => model.Device_Type, new { htmlAttributes = new { @class = "form-control",@readonly ="readonly", @Value = ViewBag.type } })
                            @Html.ValidationMessageFor(model => model.Device_Type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Processor, htmlAttributes: new { @class = "control-label  pmtallocated pull-left", @style = "padding-left:50px" })
                        <div class="col-sm-8 pull-right" style="padding-right:50px">
                            @Html.EditorFor(model => model.Processor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Processor, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label  pmtallocated pull-left", @style = "padding-left:50px" })
                        <div class="col-sm-8 pull-right" style="padding-right:50px">
                            @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(model => model.Purchase_Date, htmlAttributes: new { @class = "control-label  pmtallocated pull-left", @style = "padding-left:50px" })
                        <div>
                        </div>
                        <div class="col-sm-8 pull-right" style="padding-right:50px">
                            @Html.EditorFor(model => model.Purchase_Date, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Purchase_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label  pmtallocated pull-left", @style = "padding-left:50px" })
                        <div>
                        </div>
                        <div class="col-sm-8 pull-right" style="padding-right:50px">
                            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @readonly = "readolny", @Value = "Unassigned" } })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>







                    <div class="form-group">
                        <div class="pull-right" style="padding-right:50px" >
                            <button type="submit" class="btn btn-primary" id="submitbutton">Submit</button>
                        </div>
                    </div>

                }
                </div>
               

        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    </body>
