@model Inventario.ServiceContracts.EmployeeViewModel
<head>
    <style>
        .modal-content {
            background-color: #FFF;
            opacity: .9;
        }
    </style>





</head>

<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Add New Employee</h3>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                       
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group">
                            @Html.LabelFor(model => model.Employee_ID, htmlAttributes: new { @class = "control-label  pmtallocated pull-left", @style = "padding-left:50px" })
                            <div class="col-sm-8 pull-right" style="padding-right:50px">
                                @Html.EditorFor(model => model.Employee_ID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Employee_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Emp_Name, htmlAttributes: new { @class = "control-label  pmtallocated pull-left", @style = "padding-left:50px" })
                            <div class="col-sm-8 pull-right" style="padding-right:50px">
                                @Html.EditorFor(model => model.Emp_Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Emp_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label  pmtallocated pull-left", @style = "padding-left:50px" })
                            <div class="col-sm-8 pull-right" style="padding-right:50px">
                                @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email_Id, htmlAttributes: new { @class = "control-label  pmtallocated pull-left", @style = "padding-left:50px" })
                            <div class="col-sm-8 pull-right" style="padding-right:50px">
                                @Html.EditorFor(model => model.Email_Id, new { htmlAttributes = new { @type = "email", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Date_of_joining, htmlAttributes: new { @class = "control-label  pmtallocated pull-left", @style = "padding-left:50px" })
                            <div class="col-sm-8 pull-right" style="padding-right:50px">
                                @Html.EditorFor(model => model.Date_of_joining, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Date_of_joining, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group" style="padding-right:16px">

                            <div class="pull-right" style="padding-right:32px">
                                <input type="submit" value="Submit" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }


            </div>

        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>